h1 {
    color: bisque;
    background-color: gray;
    border: 02px solid;
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
    text-indent: 50px;

}


li {
    color: rgb(48, 99, 192);
    background-color: beige;
}

#mypic {
    width: 20%;
    border: 5px solid blue;
    float: left;
}


table, td, th {
    border: 3px solid green;
    background-color: rgb(228, 248, 241);
}


.imgfram {
    width: 40px;
}

body {
    background-color: rgb(221, 252, 252);
}

.colorH {
    background-color: rgb(80, 107, 122);
}


.posStatic {
    position: static;
    border: 3px solid brown;
    height: 400px;
}


.posRelative {
    position: relative;
    width: 200px;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    border: 3px solid green;
}


.posFixed {
    position : fixed;
    bottom: 0px;
    right: 0px;
    border: 2px solid blueviolet;
}


.posAbsolute {
    position : absolute;
    width : 90px;
    right : 50px;
    border : 2px solid red;
}